@import "globals";

.nav {
  padding-left: 192px;
}

.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
  color: $dark-grey;
}

nav.navbar, .navbar-default {
  background-color: $light-blue;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-brand {
  font-size: 1.6em;
}

.navbar-default, nav.navbar-nav > li > a,
ul.nav.navbar-nav.navbar-right > li > a,
ul.nav.navbar-nav > li > a,
div.navbar-header a.navbar-brand {
  color: $light-blue-text;
}

.navbar-default, .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  background-color: $light-blue-text;
}

ul.dropdown-menu a:focus {
  background-color: white;
  border-color: white;
  outline: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  border-color: white;
}

@media (max-width: 767px) {
  .nav {
    padding-left: 0;
  }

  ul.nav.navbar-nav.navbar-right li.dropdown.open ul.dropdown-menu > li > a,
  ul.nav.navbar-nav li.dropdown.open ul.dropdown-menu > li > a {
    color: $light-blue-text;
  }

  ul.nav.navbar-nav.navbar-right li.dropdown.open > ul.dropdown-menu li a:hover,
  ul.nav.navbar-nav.navbar-right li.dropdown.open > ul.dropdown-menu li a:focus,
  ul.nav.navbar-nav li.dropdown.open > ul.dropdown-menu li a:hover,
  ul.nav.navbar-nav li.dropdown.open > ul.dropdown-menu li a:focus {
    color: white;
  }

  .sidebar-left {
    display: none;
  }
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default, .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(255, 239, 255, 0.45);
}

.navbar-default, .navbar-toggle:focus,
.navbar-default, .navbar-toggle:hover,
.navbar-default .navbar-toggle:hover,
button.navbar-toggle {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
ul.nav.navbar-nav.navbar-right > li > a:focus,
ul.nav.navbar-nav.navbar-right > li > a:hover,
ul.nav.navbar-nav > li > a:focus,
ul.nav.navbar-nav > li > a:hover,
div.navbar-header a.navbar-brand:hover, div.navbar-header a.navbar-brand:focus {
  color: white;
  border-color: rgba(255, 239, 255, 0.25);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 29px;
  float:left;
  margin: auto;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: none;
}

li.dropdown.open > a#basic-nav-dropdown.dropdown-toggle {
  background-color: rgb(57, 167, 231);
}

/*.App-header {*/
/*background-color: #282c34;*/
/*min-height: 100vh;*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*justify-content: center;*/
/*font-size: calc(10px + 2vmin);*/
/*color: white;*/
/*}*/

/*.App-link {*/
/*color: #61dafb;*/
/*}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
